<div class="layout-container" [class.layout-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="layout-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="layout-app-name">NgBaby</h1>
  </mat-toolbar>

  <mat-sidenav-container
    class="layout-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-nav-list>
        <ng-content select="[nav-list]"></ng-content>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <ng-content select="[content]"></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
