.message-box {
  height: 128px;
  position: absolute;
  padding-top: 17px;
  right: 0;
  left: 0;
  bottom: 0px;
  border-radius: 0;
  border-width: 0;
  box-shadow: none;
}
.content-box {
  overflow-y: hidden;
  height: 100%;
}
