@import "@angular/material/prebuilt-themes/indigo-pink";
@import "@sweetalert2/theme-material-ui/material-ui";

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.loader-center {
  justify-content: center;
}
  
.swal2-container  {
  padding-bottom: 20px;
}

.mat-card-header {
  max-width: calc(100% - 36px);
  .mat-card-header-text {
    max-width: 100%;
  }
}