@import "~@angular/material/prebuilt-themes/indigo-pink";
@import "~@sweetalert2/theme-material-ui/material-ui";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~ngx-toastr/toastr-bs4-alert";

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.loader-center {
  justify-content: center;
}

.swal2-container {
  padding-bottom: 20px;
}

.toast-container {
  max-width: 300px;
  .ngx-toastr {
    max-width: 224px;
  }
}

.mat-card {
  .mat-card-header {
    display: initial;
    max-width: calc(100% - 36px);
    .mat-card-header-text {
      max-width: 100%;

      .mat-card-title {
        max-width: 100%;
        overflow-x: hidden;

        .elipsis {
          max-width: 100%;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }
}
