<div class="layout-container" [class.layout-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="layout-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="layout-app-name">Talky</h1>
  </mat-toolbar>

  <mat-sidenav-container
    class="layout-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      aria-expanded="true"
      [opened]="!mobileQuery.matches || (!this.startedSession && router.url.split('/')[1]==='')"
    >
      <mat-nav-list>
        <app-nav-list
          (changedNav)="changedNav(snav)"
          nav-list
          select="[nav-list]"
        ></app-nav-list>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="layout-content">
        <ng-content select="[content]"></ng-content>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
