<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h4>{{ translate.instant("pages.mailBox.create") }}</h4>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-form-simple
      [form]="form"
      [fields]="mailBoxContentService.fields"
      [submitLabel]="translate.instant('pages.mailBox.add')"
      [submitIcon]="'follow_the_signs'"
      (onSubmit)="addMailBox()"
    >
    </app-form-simple>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h4>
        {{ translate.instant("pages.mailBox.chat") }}
      </h4>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-form-simple
      [form]="acceptForm"
      [fields]="mailBoxContentService.acceptFields"
      [submitLabel]="translate.instant('pages.mailBox.accept')"
      [submitIcon]="'follow_the_signs'"
      (onSubmit)="acceptMailBox()"
    ></app-form-simple>
  </mat-card-content>
</mat-card>
<mat-card *ngFor="let mailBox of ProviderMailBox.mailBoxes" class="mailBox">
  <mat-card-header>
    <mat-card-title>
      <h4 class="elipsis">
        {{ mailBox.name }}
        {{
          mailBox.secret3 == null
            ? "(" + translate.instant("pages.mailBox.free") + ")"
            : ""
        }}
      </h4>
    </mat-card-title>
    <mat-card-subtitle *ngIf="mailBox.secret3 == null"
      >{{ translate.instant("pages.mailBox.secrets") }}.</mat-card-subtitle
    >
    <mat-card-subtitle *ngIf="mailBox.secret3 != null"
      >{{ translate.instant("pages.mailBox.chatInfo") }}.</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content *ngIf="mailBox.secret3 == null">
    <p>{{ translate.instant("pages.mailBox.secret") }} 1: {{ mailBox._id }}</p>
    <p>
      {{ translate.instant("pages.mailBox.secret") }} 2: {{ mailBox.secret }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button
      [disabled]="mailBox.secret3 == null"
      mat-flat-button
      color="primary"
      [routerLink]="'/mailBoxes/chat/' + mailBox._id"
    >
      {{ translate.instant("pages.mailBox.talk") }}
    </button>
  </mat-card-actions>
</mat-card>
