<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h3>{{ internationalization.display(["Create Mailbox"]) }}</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-form-simple
      [form]="form"
      [fields]="mailBoxContentService.fields"
      [submitLabel]="internationalization.display(['Add New MailBox'])"
      [submitIcon]="'follow_the_signs'"
      (onSubmit)="addMailBox()"
    >
    </app-form-simple>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h3>
        {{ internationalization.display(["Chat With A Mailbox"]) }}
      </h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-form-simple
      [form]="acceptForm"
      [fields]="mailBoxContentService.acceptFields"
      [submitLabel]="
        internationalization.display(['Accept MailBox Invitation'])
      "
      [submitIcon]="'follow_the_signs'"
      (onSubmit)="acceptMailBox()"
    ></app-form-simple>
  </mat-card-content>
</mat-card>
<mat-card *ngFor="let mailBox of serviceAuth.mailBoxes" class="mailBox">
  <mat-card-header>
    <mat-card-title>
      <h3>{{ mailBox.name }} {{ mailBox.secret3 == null ? "(Free)" : "" }}</h3>
    </mat-card-title>
    <mat-card-subtitle *ngIf="mailBox.secret3 == null"
      >{{
        internationalization.display([
          "Share Secrets Piece By Piece On Multiple Communication Channels"
        ])
      }}.</mat-card-subtitle
    >
    <mat-card-subtitle *ngIf="mailBox.secret3 != null"
      >{{
        internationalization.display(["Chat With Your Secret Connection"])
      }}.</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content *ngIf="mailBox.secret3 == null">
    <p>{{ internationalization.display(["Secret"]) }} 1: {{ mailBox._id }}</p>
    <p>
      {{ internationalization.display(["Secret"]) }} 2: {{ mailBox.secret }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button
      [disabled]="mailBox.secret3 == null"
      mat-flat-button
      color="primary"
      [routerLink]="'/mailBoxes/chat/' + mailBox._id"
    >
      {{ internationalization.display(["Talk"]) }}
    </button>
  </mat-card-actions>
</mat-card>
