<div>
  <app-form-simple
    [form]="form"
    [fields]="contactsContentService.fields"
    [submitLabel]="'Add New Contact'"
    [submitIcon]="'follow_the_signs'"
    (onSubmit)="addContact()"
  ></app-form-simple>
  <app-form-simple
    [form]="acceptForm"
    [fields]="contactsContentService.acceptFields"
    [submitLabel]="'Accept Contact Invitation'"
    [submitIcon]="'follow_the_signs'"
    (onSubmit)="acceptContact()"
  ></app-form-simple>
</div>

<br />
<mat-divider></mat-divider>
<mat-list *ngFor="let contact of serviceAuth.contacts">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ contact.name }}</mat-card-title>
      <mat-card-subtitle>Secret 1: {{ contact._id }}</mat-card-subtitle>
      <mat-card-subtitle>Secret 2: {{ contact.secret }}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</mat-list>
