<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h3>{{ internationalization.display(["Create Referral"]) }}</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-form-simple
      [form]="form"
      [fields]="referralContentService.fields"
      [submitLabel]="internationalization.display(['Refer'])"
      [submitIcon]="'follow_the_signs'"
      (onSubmit)="referr()"
    ></app-form-simple>
  </mat-card-content>
</mat-card>
<mat-list *ngFor="let referral of serviceAuth.referrals">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ referral.email }}</mat-card-title>
      <mat-card-subtitle
        >{{
          internationalization.display([
            "Share Secrets Piece By Piece On Multiple Communication Channels"
          ])
        }}.</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      {{ internationalization.display(["Secret"]) }}: {{ referral.code }}
    </mat-card-content>
  </mat-card>
</mat-list>
