<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h3>{{ translate.instant("pages.referral.create") }}</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-form-simple
      [form]="form"
      [fields]="referralContentService.fields"
      [submitLabel]="translate.instant('pages.referral.refer')"
      [submitIcon]="'follow_the_signs'"
      (onSubmit)="referr()"
    ></app-form-simple>
  </mat-card-content>
</mat-card>
<mat-list *ngFor="let referral of serviceAuth.referrals">
  <mat-card>
    <mat-card-header>
      <mat-card-title
        ><h3>{{ referral.email }}</h3></mat-card-title
      >
      <mat-card-subtitle>
        {{ translate.instant("pages.referral.secrets") }}.
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      {{ translate.instant("pages.referral.secret") }}: {{ referral.code }}
    </mat-card-content>
  </mat-card>
</mat-list>
