.message-box {
  height: 128px;
  max-height: 128px;
  position: absolute;
  padding-top: 0;
  right: 0;
  padding-bottom: 0;
  left: 0;
  bottom: 0px;
  border-radius: 0;
  border-width: 0;
  box-shadow: none;
}
.content-box {
  padding: 12px;
  padding-top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 128px;
}

.card {
  margin-top: 12px;
  overflow-wrap: break-word;
  max-width: 40%;
  width: fit-content;
  &.local {
    margin-right: 0;
    margin-left: auto;
    text-align: right;
  }
}
