<div #scroll class="content-box">
  <mat-card
    *ngFor="let message of messages; trackBy: trackByFn"
    [ngClass]="{ local: message.remote == false, card: true }"
  >
    {{ message.content }}
  </mat-card>
</div>
<mat-card class="message-box">
  <app-form-simple
    class="no-submit-bottom"
    [form]="form"
    [fields]="chatContentService.fields"
    [submitLabel]="translate.instant('pages.chat.send')"
    [submitIcon]="'send'"
    [submitDisabled]="!form.value.message || !form.value.message.length"
    (forSubmit)="send()"
  ></app-form-simple>
</mat-card>
