<div class="header">
  <div class="header-scroll">
    <div>
      <a
        mat-button
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><mat-icon>home</mat-icon> Home</a
      >
      <a
        mat-button
        routerLink="/referral"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><mat-icon>app_registration</mat-icon> Referral</a
      >
      <a
        mat-button
        routerLink="/contacts"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><mat-icon>contacts</mat-icon> Contacts</a
      >
    </div>
  </div>
</div>
<div class="footer">
  <a
    *ngIf="!serviceAuth.currentUser"
    mat-button
    class="split-mat-button"
    routerLink="/login"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    ><mat-icon>login</mat-icon> Login</a
  >
  <a
    *ngIf="!serviceAuth.currentUser"
    mat-button
    class="split-mat-button"
    routerLink="/login/register"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    ><mat-icon>follow_the_signs</mat-icon> Register</a
  >
  <a
    *ngIf="serviceAuth.currentUser"
    mat-button
    (click)="serviceAuth.logout()"
    ><mat-icon>logout</mat-icon> Logout</a
  >
</div>
