<div class="header">
  <div class="header-scroll">
    <div>
      <a
        (click)="onChangeNav()"
        mat-button
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><mat-icon>home</mat-icon>
        {{ internationalization.display(["Home"]) }}</a
      >
      <a
        (click)="onChangeNav()"
        mat-button
        routerLink="/referral"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><mat-icon>app_registration</mat-icon>
        {{ internationalization.display(["Referrals"]) }}</a
      >
      <a
        (click)="onChangeNav()"
        mat-button
        routerLink="/mailBoxes"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: false }"
        ><mat-icon>contacts</mat-icon>
        {{ internationalization.display(["Mail Boxes"]) }}</a
      >
    </div>
  </div>
</div>
<div class="footer">
  <a
    *ngIf="!serviceAuth.currentUser"
    (click)="onChangeNav()"
    mat-button
    class="split-mat-button"
    routerLink="/auth/login"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    ><mat-icon>login</mat-icon> {{ internationalization.display(["Login"]) }}</a
  >
  <a
    *ngIf="!serviceAuth.currentUser"
    (click)="onChangeNav()"
    mat-button
    class="split-mat-button"
    routerLink="/auth/register"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    ><mat-icon>follow_the_signs</mat-icon>
    {{ internationalization.display(["Register"]) }}</a
  >
  <a *ngIf="serviceAuth.currentUser" mat-button (click)="serviceAuth.logout()"
    ><mat-icon>logout</mat-icon> {{ internationalization.display(["Logout"]) }}</a
  >
</div>
